body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
    max-width: 300px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

/* Slider */
#slider img {
    width: 650px;
    height: 455px;
    width: 100%;
    height: 100%;
}

.swiper {
    width: 650px;
    height: 455px;
  }

  section.projects {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 60px;
    row-gap: 80px;
    justify-items: center;
}

section.projects > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    width: 100%;
    max-width: 650px;
    grid-row: auto / span 3;
}

section.projects > div {
    grid-row: auto / span 3;
}

section.projects > div:first-of-type {
    grid-row: 2 / span 3;
    grid-column: 2;
}

/* Login */

/* Administrator  */

.log-out form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.admin-project {
    padding: 20px 0;
}

/* Update Project */

.admin-project > .update,
.admin-project > .delete-hide-container,
.admin-project > .create {
    margin: 0 auto;
    display: grid;
    grid-template: auto / repeat(2,600px);
    justify-content: center;
    column-gap: 80px;
}

.admin-project > .delete-hide-container {
    padding-top: 30px;
}

.admin-project > .delete-hide-container > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.admin-project form.update.hided {
    background-color: rgba(0,0,0,0.48) !important;
    overflow: hidden;
    pointer-events: none;
}

.admin-project form.update.hided > .heading {
    background-color: gainsboro;
}


.admin-project form.update > .heading,
.admin-project form.create > .heading
{
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: antiquewhite;
    margin-bottom: 40px;
}

.admin-project form.update > .heading {
    background-color: antiquewhite;
}

.admin-project > form.create > .heading {
    background-color:olive;
}

.admin-project form.update > .heading *,
.admin-project > form.create > .heading * {
    text-align: center;
    font-size: 30px;
}

.admin-project form.update > label,
.admin-project form.create > label {
    grid-column: 1;
}

.admin-project form.update > input,
.admin-project form.update > textarea,
.admin-project form.create > input,
.admin-project form.create > textarea{
    grid-column: 2;
}

.admin-project form.update > .images-container,
.admin-project form.create > .images-container {
    grid-column: 2;
    grid-row: 2 / span 5;
}

.admin-project form.update > input.btn ,
.admin-project form.create > input.btn {
    grid-column: 1 / span 2;
    margin: 50px auto 25px auto;
}

.admin-project form.update > .images-container > .images,
.admin-project form.create > .images-container > .images {
    display: grid;
    grid-template-columns: 80px auto;
    padding: 0 0 30px 0;
}

.admin-project form.update > .images-container > .images > *,
.admin-project form.create > .images-container > .images > * {
    margin: 5px 0;
}

.admin-project form.update > .images-container > .images > p,
.admin-project form.update > .images-container > .images > img,
.admin-project form.create > .images-container > .images > p,
.admin-project form.create > .images-container > .images > img {
    grid-column: 1 / span 2;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-project form.update > .images-container > .images > label,
.admin-project form.create > .images-container > .images > label {
    display: flex;
    align-items: center;
}

.admin-project form.update > .images-container > .images > img,
.admin-project form.create > .images-container > .images > img {
    width: 150px;
    height: 100px;
}





