/*--------------------------------------------------------------
>>> TABLA DE CONTENIDOS:
----------------------------------------------------------------

1.0 General
  1.1 Fonts
  1.2 Root
  1.3 Basics
  1.4 Blocks
    1.4.1 - Header
    1.4.2 - Modal Menu
    1.4.3 - Footer
  1.5 Animations
  1.8 Backgrounds
*/

/*--------------------------------------------------------------
    1.0 General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    1.1 Fonts
--------------------------------------------------------------*/

@font-face {
    font-family: var(--main-font);
    src: url("../../fonts/static/Montserrat-ThinItalic.ttf"),
        url("../../fonts/static/Montserrat-Thin.ttf"),
        url("../../fonts/static/Montserrat-ExtraLightItalic.ttf"),
        url("../../fonts/static/Montserrat-ExtraLight.ttf"),
        url("../../fonts/static/Montserrat-LightItalic.ttf"),
        url("../../fonts/static/Montserrat-Light.ttf"),
        url("../../fonts/static/Montserrat-Regular.ttf"),
        url("../../fonts/static/Montserrat-Italic.ttf"),
        url("../../fonts/static/Montserrat-MediumItalic.ttf"),
        url("../../fonts/static/Montserrat-Medium.ttf"),
        url("../../fonts/static/Montserrat-SemiBoldItalic.ttf"),
        url("../../fonts/static/Montserrat-SemiBold.ttf"),
        url("../../fonts/static/Montserrat-BoldItalic.ttf"),
        url("../../fonts/static/Montserrat-Bold.ttf"),
        url("../../fonts/static/Montserrat-ExtraBoldItalic.ttf"),
        url("../../fonts/static/Montserrat-ExtraBold.ttf"),
        url("../../fonts/static/Montserrat-BlackItalic.ttf"),
        url("../../fonts/static/Montserrat-Black.ttf");
}

@font-face {
    font-family: var(--tile-font);
    src: url("../../fonts/static/Rubik-BlackItalic.ttf"),
        url("../../fonts/static/Rubik-Black.ttf"),
        url("../../fonts/static/Rubik-BoldItalic.ttf"),
        url("../../fonts/static/Rubik-Bold.ttf"),
        url("../../fonts/static/Rubik-Italic.ttf"),
        url("../../fonts/static/Rubik-LightItalic.ttf"),
        url("../../fonts/static/Rubik-Light.ttf"),
        url("../../fonts/static/Rubik-MediumItalic.ttf"),
        url("../../fonts/static/Rubik-Medium.ttf"),
        url("../../fonts/static/Rubik-Regular.ttf"),
        url("../../fonts/static/Rubik-SemiBoldItalic.ttf"),
        url("../../fonts/static/Rubik-SemiBold.ttf"),
        url("../../fonts/static/Rubik-ThinItalic.ttf"),
        url("../../fonts/static/Rubik-Thin.ttf");
}


/*--------------------------------------------------------------
    1.2 Root
--------------------------------------------------------------*/

:root {
    --main-font: 'Montserrat', sans-serif;
    --tile-font: 'Rubik', sans-serif;
    --font-p: 16px;
    --font-title: 35px;
    --main-color: #1D1E1A;
    --white-color: #fff;
    --corp-color: #8ABE3B;
    --width: 92vw;
}

/*--------------------------------------------------------------
    1.3 Basics
--------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6  {
    font-family: var(--tile-font);
    font-weight: 900;
}

body,
div,
ul,
li,
a,
span,
p,
table,
td,
tr,
button,
input,
select,
label {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: var(--font-p);
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

::selection {
    background: var(--or-main-color);
    color: #fff !important;
}

h1 {
    font-size: 115px;
}

h2 {
    font-size: 35px;
}
.btn {
    max-width: 300px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-blue {
    background-color: royalblue;
    color: white;
    border: none;
}

.btn-red {
    background-color:sienna;
    color: white;
    border: none;
}

.btn-green {
    background-color:darkolivegreen;
    color: white;
    border: none;
}

/*--------------------------------------------------------------
    1.4 Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    1.4.1 Header
--------------------------------------------------------------*/
.head-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--corp-color);
    align-items: center;
}

.head-bar .logo {
    margin-left: calc((100vw - var(--width)) / 2);
}

.head-bar .logo img {
    width: 261px;
    height: 53px;
}

.head-bar .lang-burger {
    margin-right: calc((100vw - var(--width)) / 2);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .65rem;
    cursor: pointer;
    margin-left: 40px;
}

.burger > div {
    background: var(--main-color);
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

.burger:hover div:first-child {
    transform: rotate(45deg);
}

.burger:hover div:nth-child(2) {
    opacity: 0;
}

.burger:hover div:last-child {
    transform: rotate(-45deg);
}

.menu {
    display: none;
}
/*--------------------------------------------------------------
    1.4.2 - Modal Menu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    1.4.3 - Footer
--------------------------------------------------------------*/

/* Slider */
#slider img {
    width: 650px;
    height: 455px;
    width: 100%;
    height: 100%;
}

.swiper {
    width: 650px;
    height: 455px;
}

section.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 80px;
    justify-items: center;
}

section.projects>div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    width: 100%;
    max-width: 650px;
    grid-row: auto / span 3;
}

section.projects>div {
    grid-row: auto / span 3;
}

section.projects>div:first-of-type {
    grid-row: 2 / span 3;
    grid-column: 2;
}

/* Login */

/* Administrator  */

.log-out form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 0;
}

.log-out form .btn {
    margin-right: 50px;
}

.admin-project {
    padding: 20px 0;
    max-width: 1360px;
    margin: 0 auto;
    width: 100%;
}

/* Update Project */

.admin-project>.update,
.admin-project>.delete-hide-container,
.admin-project>.create {
    margin: 0 auto;
    display: grid;
    grid-template: auto / repeat(2, 600px);
    justify-content: center;
    column-gap: 80px;
    padding-bottom: 40px;
}

.admin-project>.delete-hide-container>form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.admin-project form.update.hided {
    background-color: rgba(0, 0, 0, 0.48) !important;
    overflow: hidden;
    pointer-events: none;
}

.admin-project .heading.hided {
    background-color: gainsboro;
}


.admin-project .heading{
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: antiquewhite;
    margin-bottom: 40px;
}

.admin-project .heading {
    background-color: antiquewhite;
}

.admin-project .heading.create-heading {
    background-color: lightsteelblue;
}
.admin-project .heading * {
    padding: 30px 0;
}
.admin-project .heading * {
    text-align: center;
    font-size: 30px;
}

.admin-project form.update>label,
.admin-project form.create>label,
.admin-project form.update .tox {
    grid-column: 1;
}

.admin-project form.update>input,
.admin-project form.update>textarea,
.admin-project form.create>input,
.admin-project form.create>textarea {
    grid-column: 2;
}

.admin-project form.update>.images-container,
.admin-project form.create>.images-container {
    grid-column: 2;
    grid-row: 2 / span 5;
}

.admin-project form.update>input.btn,
.admin-project form.create>input.btn {
    grid-column: 1 / span 2;
    margin: 40px auto;
}

.admin-project form.update>.images-container>.images,
.admin-project form.create>.images-container>.images {
    display: grid;
    grid-template-columns: 150px 80px auto;
    column-gap: 10px;
    padding: 0 0 30px 0;
}

.admin-project> form .project_title {
    padding-bottom: 20px;
}

.admin-project> form .project_content {
    padding: 20px 0;
}

.admin-project form.update>.images-container>.images>*,
.admin-project form.create>.images-container>.images>* {
    margin: 5px 0;
}

.admin-project form.update>.images-container>.images>img,
.admin-project form.create>.images-container>.images>img,
.admin-project form.create>.images-container>.images>p  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    grid-column: 1;
    grid-row: 1 / span 3;
}

.admin-project form.update>.images-container>.images>label,
.admin-project form.create>.images-container>.images>label {
    display: flex;
    align-items: center;
    grid-column: 2;
    justify-content: center;
}

.admin-project form.update>.images-container>.images input {
    grid-column: 3;
}

