#Set this options in the .htaccess file to let the user insert any url
#Options +FollowSymLinks --> Follow the links and directorys of the website
#Options +Indexes --> Show any file of the directory with no index needed.
Options +Indexes +FollowSymlinks

#Work only if the server let rewrite the urls activating the mod_rewrite module.
<IfModule mod_rewrite.c> 

# Define the base url of the website, in this case: the root.
RewriteEngine on
RewriteBase /

# Exclude the POST requests from the redirect
RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^ - [L]

# Condition the directory to redirect to: 
RewriteCond %{REQUEST_FILENAME} !-d

# Condition the systems file (like css, js, php...) to redirect to: 
RewriteCond %{REQUEST_FILENAME} !-f

# Condition the regular files (like jpg, pdf...) to redirect to: 
RewriteCond %{REQUEST_FILENAME} !-l

# The conditions above rewrite to the index.php file.
RewriteRule ^(.+)$ index.php [QSA,L]

# Redirect the non-www to www
RewriteCond %{HTTP_HOST} ^vilkeerprojects.com [NC]
RewriteRule ^(.*)$ https://www.vilkeerprojects.com/$1 [L,R=301]

</IfModule>